# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IPs
starlight/include/ips.hpp

# Tokens
notes.txt
settings/notes.txt
settings/secret.json
settings/tokens.json
settings/users/*

server/notes.txt
server/settings/notes.txt
server/settings/secret.json
server/settings/tokens.json
server/settings/users/*

# Node
node_modules/
server/node_modules/

# Project Manager
romfs/

# Starlight patch folder
starlight/starlight_patch_100/

# Redeem History Log
server/settings/redeemHistory.txt